<!DOCTYPE html>
<html>
<head>
  <title>DownloadWebMusicAroundTheSound</title>
  <div class="content-form-search">
        <h1>Around The Sound</h1>
   
    <input type="radio" id="artist" name="search-field" value="artist" checked>
    <label for="artist">Artist</label>

	<input type="radio" id="album" name="search-field" value="album">
    <label for="album">Album</label>

	<input type="radio" id="track" name="search-field" value="track">
    <label for="track">Track</label>

    <input type="text" id="artist-album-track">
   	<button class="buscar">Buscar</button>
   </div>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

	
<%= yield %>

 	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 	
</body>
</html>
