<ul>
	<% @albums.each do |album| %>
			<li><h3><%= album.name %></h3></li>
		<% if album.images[0] == nil %>
			<li>No hay imagen</li><br>
		<% else %>
			<li><img src="<%= album.images[1]['url'] %>"></li><br>
		<% end %>
		<% album.tracks.each do |track| %>
			<li><%= track.name %></li>
			<li><audio src="<%= track.preview_url %>" controls ></audio></li>
		<% end %>
		
		
	<% end %>
 </ul>
