body{
    margin: 0;
    padding: 0;
}
.body-box{
	background-color: silver;
	border: solid 20px black;
}
li{
	list-style: none;
}
.total-price{
	font-family: Impact;
	top: 230px	;
	z-index: 999999;
	position: fixed;
	font-weight: bold;
	font-size: 20px;
	background-color: yellow;
	border: solid 5px green;
	padding: 20px;
	margin: 35px;
	width: 150px;
	height: 75px;
}
hr{
	margin-top: 30px;
	border: solid 1px;
}
#content-header{
	width: 100%;
	z-index: 999999;
	position: fixed;
	height: 250px;
	border: solid 20px black;
}
#logo{
	z-index: 999999999;
	position: fixed;
	margin-top: 25px;
	margin-left: 53px;
	width: 238px;
}
#notas{
	z-index: 9;
	float: left;
	position: relative;
	width: 100%;
	height: 210px;
}

.row1{
	font-family: Impact;
	margin-top: 50px;
	width: 1000px;
	text-align: center;
}
.container{
	margin-top: 125px;
	padding: 100px;
}
.destroy-all-albums{
	z-index: 999999999;
	position: fixed;
	top: 400px;
	margin-left: 60px;
}
.content-form-search{
	z-index: 999999;
	top: 0;
	position: fixed;
	background-color: #FF4500;
	width: 99%;
	border: 8px solid black;
	height: 130px;
}
.row2{
	bottom: 80px;
    position: relative;
    z-index: 99999;
	font-family: Impact;
	color: white;
	width: 1000px;
	text-align: center;
}
#logo2{
	float: left;
	z-index: 999999999;
	margin-left: 53px;
	width: 190px;
}
#browser{
	font-size: 20px;
	text-align: center;
	margin-right: 250px;
	margin-top: 20px;
}
#link-box{
	float: right;
}
.imagenAlbum{
	bottom: 90px;
    position: relative;
	float:left;
	width: 200px;
	height: 200px;
	
}
#lista{
	top: 1px;
	position: relative;
	z-index: 99999;
	border: inherit 3px;
}
#body-artists{
	margin: 0;
	padding: 0;
}
#violin{
	z-index: 99999;
	position: fixed;
	right: 13px;
    width: 1355px;
}
.buyAlbum{
	padding: 0;
	border: 0;
	right: 195px;
    width: 170px;
    top: 110px;
    
    position: relative;
}
.add-cart-blue{
	width: 170px;
}
.description-album{
	position: relative;
	top: 210px;
	right: 380px;
}
.tracks{
	vertical-align: middle;
	bottom: 100px;
	position: relative;
	margin-left: 200px;
}
.line-artists{
	margin-top: 70px;
}
.image-artist img{
	position: relative;
	right: 200px;
	width: 300px;
	height: 300px;
}
.name-artist{
	text-align: left;
	position: relative;
    left: 500px;
    bottom: 52px;
}
#violin-gem{
	position: relative;
	width: 100%;
	height: 100%;
    bottom: 1px;
    right: 2px;
}
.image-gem{
	bottom: 90px;
    position: relative;
	float:left;
	width: 200px;
	height: 200px;
}
.container3{
	position: relative;
}
/*
.box{
	position: fixed;
	margin-left: 800px;
	margin-top: 100px;
	border: solid;
	width: 500px;
	height: 300px|auto;
	visibility: visible;

}
.min-box{
	width: 200px;
	height: 50px;
	margin-top: 100px;
	margin-left:1100px;
	content: none;
}*/


/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
