.content-form-search{
	position: fixed;
	background-color: red;
	width: 99%;
	text-align: center;
	border: 8px solid black;
	
}
body{
    	margin: 0 !important;
    	padding: 0 !important;
    }

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
