body{
    margin: 0;
    padding: 0;
}
.body-box{
	background-color: silver;
	border: solid 20px white;
	height: auto;
}
.content-form-search{
	z-index: 999999;
	top: 0;
	position: fixed;
	background-color: red;
	width: 99%;
	text-align: center;
	border: 8px solid black;
}
li{
	list-style: none;
}
.total-price{
	font-family: Impact;
	top: 190px	;
	z-index: 999999;
	position: fixed;
	font-weight: bold;
	font-size: 20px;
	background-color: yellow;
	border: solid 5px green;
	padding: 20px;
	margin: 35px;
	width: 140px;
	height: 75px;
}
hr{
	border: solid 1px;
}
#logo{
	float: left;
	margin-left: 50px;
	width: 275px;
}
#content-header{
	width: 100%;
	z-index: 999999;
	position: fixed;
	background-color: #008000;
	height: 200px;
	border: solid 20px white;
}

#shopping-title{
	width: 240px;
	margin-left: 100px;
}
#cart-title{
	width: 200px;
	margin-left: 50px;
}
#musica-title{
	float: right;
	width: 300px;
}
.row{
	font-family: Impact;
	margin-top: 100px;
	width: 1000px;
	text-align: center;
}
.container{

	padding: 100px;
}
.destroy-all-albums{
	z-index: 999999999;
	position: fixed;
	top: 330px;
	margin-left: 60px;
}

/*
.box{
	position: fixed;
	margin-left: 800px;
	margin-top: 100px;
	border: solid;
	width: 500px;
	height: 300px|auto;
	visibility: visible;

}
.min-box{
	width: 200px;
	height: 50px;
	margin-top: 100px;
	margin-left:1100px;
	content: none;
}*/


/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
