<h1>Listing artists</h1> 

 	<% @artists.each do |artist| %>
 		<li>
 		<%= artist.artist_name %>
 		<%= link_to 'Show',  artist_path(artist)%>
 		</li>
		<br>
 	<% end %>
 	 		<%= link_to 'Show Albums',  artists_albums_path(@albums)%>


    
        <h1>Around The Sound</h1>
    <label for="artist">Artist:</label>
    <input type="text" id="artist">
   	<button class="buscar">Buscar</button>
    <ul id="lista">
        <li></li>
    </ul>

   