<div class="content-form-search">
    <img src="/Logo2.png" id="logo2">
    <a href="http://localhost:3000/boxes"><img src="/musicbox.png" id="music-box"></a>
    <div id="browser">
        <input type="radio" id="artist" name="search-field" value="artist" checked>
        <label for="artist">Artist</label>
        <input type="radio" id="album" name="search-field" value="album">
        <label for="album">Album</label>
        <input type="radio" id="track" name="search-field" value="track">
        <label for="track">Track</label><br>
        <input type="text" id="artist-album-track">
        <button class="buscar">Buscar</button>
    </div>
</div>
<div id="body-artists">
    <img src="/violin.jpg" id="violin">
    <div class="container">
        <div class="row2">
            <ul id="lista">
            </ul>
        </div>
    </div>
</div>

   