
	<h1><%= link_to @artist.name,artist_albums_path(@artist.id) %></h1><br>

	<% if @artist.images[0] == nil %>
		No hay imagen<br>
	<% else %>
		<img src="<%= @artist.images[0]['url'] %>"><br>
	<% end %>

<%= link_to 'Back', root_path %>
