<div id="content-header">
	<div id="title-box">
		<h1>Shopping Cart</h1><span><%= link_to 'To Continue Shopping', root_path %></span>
	</div>
	
</div>
<div class="total-price">
		<span>Total: </span>
	</div>
<div class="container">
    <div class="row">
	
			
			<div class="box1 col-lg-6 col-md-3">


			</div>
			<div class="box2 col-lg-6 col-md-3">


			</div>
	</div>

	
			

	
		
	
</div>
<button class="destroy-all-albums"><%= link_to 'Delete All', boxes_path %></button>