<h1>Shopping Cart</h1><%= link_to 'Continue Shopping', root_path %>

<div id="shopping-cart-container">
	<ul class="box">

	</ul>
</div>
<button class="destroy-all-albums"><%= link_to 'Delete All', boxes_path %></button>

	<!--<div class="box">
		<button class="minimizar" type="submit">-</button>
	</div>-->