<div id="content-header">

	<a href="http://localhost:3000/artists">
		<img src="/Logo2.png" id="logo">
	</a>
	<img src="/notas2.png" id="notas">
	
</div>

<div class="total-price">
		<span>Total: </span>
	</div>
<button class="destroy-all-albums"><%= link_to 'Delete All', boxes_path %></button>
<div class="body-box">
<img src="/fondomusic.jpg" id="fondo-box">

<div class="container">
    <div class="row1">
		<div class="box1 col-lg-6 col-md-3">
		</div>
		<div class="box2 col-lg-6 col-md-3">
		</div>
	</div>	
</div>
</div>
